<?xml version="1.0"?>
<launch>
  <include file="$(find thesis_moveit_config)/launch/moveit_planning_execution.launch"/>
  <arg name="sim" default="false"/>
  <node name="mvGrpPy" pkg="thesis_moveit_config" type="mvGrpSrv.py" respawn="true" output="screen">
    <remap from="/joint_states" to="/iiwa/joint_states"/>
  </node>


  <!--<node name="pickSrv" pkg="thesis_moveit_config" type="pickSrv.py" respawn="true" output="screen" args="$(arg sim)">
    <remap from="/joint_states" to="/iiwa/joint_states"/>
  </node> -->

</launch>
