<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931"/>
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  <xacro:include filename="$(find wsg_50_simulation)/urdf/wsg_50.urdf.xacro" />
  <xacro:include filename="$(find kinect_description)/urdf/kinect/kinect2.xacro" />
  <xacro:include filename="$(find thesis)/urdf/add_table.xacro" />
 
 
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="gripperHwInterface" default="EffortJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="table_origin_xyz" default="0 0 1.2"/>
  <xacro:arg name="table_origin_rpy" default="0 0 0"/>
  <xacro:arg name="origin_xyz" default="0 -0.3 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>
  <xacro:arg name="table_ee" default="table_ee"/>
  <xacro:arg name="modelDir" default="/root/exchange/tempData"/>
  
  <!-- Fix to world just for testing -->
  <link name="world"/>
 
  <xacro:add_table table_ee="$(arg table_ee)" modelDir="$(arg modelDir)"  parent="world">
    <origin xyz="$(arg table_origin_xyz)" rpy="$(arg table_origin_rpy)" />
  </xacro:add_table>

  <!--iiwa-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="$(arg table_ee)">
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </xacro:iiwa7>


  <!-- schunk greifer  -->
  <xacro:wsg_50_xacro name="wsg50" parent="iiwa_link_ee" gripperHwInterface="$(arg gripperHwInterface)">
    <origin xyz="0 0 0.01" rpy= "0 0 0"/>
  </xacro:wsg_50_xacro>


  <xacro:sensor_kinect prefix="/" name="kinect2" parent="iiwa_link_ee" cam_px="0.0" cam_py="0.02" cam_pz="0.08" cam_or="${PI/2}" cam_op="${-PI/2}" cam_oy="0" />

  
</robot>
